.form1{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px aliceblue solid;
}

.form2{
    width: 100%;
    gap: 10px;
    display:flex;
    justify-content: space-around;
    align-items: flex-end;

}